extends layout 

block content
	.navbar
		.container
			.navbar-brand.pull-left VisiWiki
			form.navbar-form.pull-left
				input#fbinput.form-control(type='text', placeholder='Search...', autofocus='')
			ul.nav.navbar-nav
				li.active
					a(href='#') Influences
				li
					a(href='#') Contemporaries
				li
					a(href='#') Works
				li
					a(href='#') Article
	.container
		.grid
			#map.section
			#namebox.aside
	#zoomtime.timeline
	#fulltime.timeline
		