doctype 5
html
	head
		title VisiWiki
		link(type='text/css', rel='stylesheet', href='stylesheets/style.css')
		link(type='text/css', rel='stylesheet', href='https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js')
		script(src='https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js')
		script(src='javascripts/d3.v3.min.js')
		script(src='javascripts/queue.v1.min.js')
		script(src='javascripts/topojson.js')
	body
		#header
			.left
				input#myinput(type='text', placeholder='Search for Historical Figure', autofocus='autofocus')
			.right
				span#htitle VisiWiki
		#map
			script(src='javascripts/vwmap.js')
		#namebox
			h1 A map of influential people.