extends layout
block content
	.navbar
		.container
			form.navbar-form.pull-left
				input#fbinput.form-control(type='text', placeholder='Search...', autofocus='')
			ul.nav.navbar-nav
				li.active
					a(href='#') Explore
				li
					a(href='#') Read
				li
					a(href='#') Help
			.navbar-brand.pull-right VisiWiki
	.container
		.grid
			#namebox.aside 
				h3 A visual map of historical people and connections.
				h5 Search for any name or start from an example below.
				ul
					li
						a(href='/r/en/plato') Plato
					li
						a(href='/r/m/034bs') George Orwell
					li
						a(href='r/m/058w5') Michelangelo
			#map.section
	#zoomtime.timeline
	#fulltime.timeline
	script(src='/javascripts/main.js')
		