
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VisiWiki</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>
    <script src="javascripts/d3.v3.min.js"></script>
    <script src="javascripts/queue.v1.min.js"></script>
    <script src="javascripts/topojson.js"></script>
  </head>
  <body>
    <div id="header">
      <div class="left"><input type="text" id="myinput" placeholder="Search for Historical Figure" autofocus/></div>
      <div class="right"><span id="htitle">VisiWiki</span></div>
    </div>
    <div id="map"></div>
    <script type="text/javascript" src="javascripts/vwmap.js"></script>
    <div class="nameboxes"></div>
  </body>
</html>