extends layout 

block content
	.navbar.navbar-fixed-top
		.navbar-inner
			.container-fluid
				form.navbar-search.pull-left
					input#fbinput.search-query(type='text', placeholder='Search for Historical Figure', autofocus='')
				ul.nav
					li.divider-vertical
					li
						a(href='#') Influences
					li.active
						a(href='#') Contemporaries
					li
						a(href='#') Works
					li
						a(href='#') Article
				.brand VisiWiki
	.rowfluid
		.span10
			#map
		.span2
			#namebox
				h1 A map of influential people.
	#timeline
		