extends layout 

block content
	#header
		.left
			input#myinput(type='text', placeholder='Search for Historical Figure', autofocus='autofocus')
		.right
			span#htitle VisiWiki
	#map
		script(src='javascripts/vwmap.js')
	#namebox
		h1 A map of influential people.