extends layout
block content
	.navbar.navbar-fixed-top
		.container
			form.navbar-form.pull-left
				input#fbinput.form-control(type='text', placeholder='Search...', autofocus='')
			ul.nav.navbar-nav
				li.active
					a(href='#seemap') Map
				li
					a(href='#seetime') Timeline
				li
					a(href='#about') About
			.navbar-brand.pull-right VisiWiki
	section#seemap
	.container
		.grid
			#namebox.aside 
				h3 VisiWiki
				h5 A map of historical people and influences.
				h5 Search for a well-known person, profession, or period. Or try an example below.
				ul
					li
						a#placeslived.namenavlink(href='#', data-id='/en/plato') Plato
					li
						a#placeslived.namenavlink(href='#', data-id='/m/034bs') George Orwell
					li
						a#placeslived.namenavlink(href='#', data-id='/m/058w5') Michelangelo
					li
						a#profession.namenavlink(href='#', data-id='/en/astronomer') Astronomers
					li
						a#movements.namenavlink(href='#', data-id='/m/01cd2k') Jazz Age
					li
						a#movements.namenavlink(href='#', data-id='/en/beat_generation') Beat Generation
						
			#map.section
	section#seetime
	#zoomtime.timeline
	#fulltime.timeline
	section#about
	#footer
		h1 VisiWiki
		h2 pre-alpha
		h3 a visual encyclopedia by Mike Kelly
		h3 built with Node.js, D3, and jQuery
		h3 data courtesy of freebase.com
	script(src='/javascripts/main.js')