doctype 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
		meta(name='description', content='A visual encyclopedia of influential people')
		meta(name='author', content='Mike Kelly')
		link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap.css', media='screen')
		link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
		link(type='text/css', rel='stylesheet', href='/stylesheets/fbsuggest.css')
		link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='http://code.jquery.com/jquery-migrate-1.1.0.js')
		script(src='https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/d3.v3.min.js')
		!= includeJShare()
	body
		block content