body {
	color: #666; 
	background: #fff; 
	font-family: "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.container { margin-right: 0px; margin-left: 0px; background: #f5f5f5;}
.grid > * { margin:0px; }
@media all and (min-width:675px) {
	.grid { padding-left: 300px; overflow:hidden; }
	.grid > .section { float:right; width:100%; margin:0; }
	.grid > .aside { width:300px; float:left; margin:0; margin-left:-300px; }
}
.hidden { display: none; }
div:empty { display: none; }

svg { display: block; margin: 0 auto; }
a:hover { text-decoration: none; }
h1 { font-weight: 100; font-size: 38px; padding-left: 10px;}
h3 { font-weight: 100; font-size: 24px; margin-bottom: 0px; font-family: "Helvetica", Helvetica, Arial, sans-serif;}
h5 { font-weight: 100; font-size: 16px; font-family: "Helvetica", Helvetica, Arial, sans-serif;}
span.label { margin-right: 2px; line-height: 2; font-size: 80%;}
span.badge { margin-right: 7px;}
.navbar {
	border-bottom: 1px solid #ccc;
	min-height: 40px;
	padding-right: 0px;
	padding-left: 0px;
	margin: 0px;
	border-radius: 0;
}
.navbar-nav {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}
.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
	line-height: 26px;
	font-weight: 100;
}
.navbar-nav > li {
	font-size: 14px;
	float: left;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
	color: #555555;
	background-color: #d5d5d5;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.navbar-brand {
	display: inline;
	text-align: center;
	font-family: "Georgia", serif;
	max-width: 150px;
	padding: 7px 14px;
	margin-right: auto;
	margin-left: auto;
	font-size: 24px;
	font-weight: 100;
	line-height: 26px;
}
.navbar-form {
	display: inline;
	margin: 5px 0px;
	padding: 0px 10px;
	width: 300px;
}
.nav-stacked {
	margin-top: 30px;
}
.form-control {
	height: 30px;
	padding: 5px;
	font-size: 14px;
}
#map {
	position: relative;
	background: #85cdff;
	border-left: 1px solid #ccc;
}
.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
.timeline {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #ccc;
	font-size: 8px;
	background: #fff;
}
#fulltime {
	background-color: #eeeeee; 
	padding: 0px;
	z-index: 100;
	position: fixed;
	bottom: 0px;
	border-top: 1px solid #ccc;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}
#zoomtime {
	position: relative;
	width: 100%;
	overflow: auto;
	height: 200px;
	background-color: #fff; 
	border-top: 1px solid #ccc;
	box-shadow: inset 0px 2px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.1);
}
#zoomtimeSVG {
	position: absolute;
}
rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}
.x.axis line {
	stroke: #ccc;
	stroke-opacity: .5;
}
.country {
	fill: #F7F7F7;
	stroke: #C9D1D3;
	stroke-width: .3px;
	stroke-linejoin: round;
}
#namebox {
	padding: 10px;
}
#namebox-prof {
	margin-top: 10px;
} 
.media {
	margin-bottom: 15px;
}
.media-body {
	overflow: auto;
}
.maphovertip {
	z-index: 1;
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 8px;
	background: #fff;
	color: #222;
	padding: 2px; 
	opacity: 0.5;
	text-shadow: 0px 1px 0px #f5f5f5;
	border-radius: 2px; 
	box-shadow: 0px 0px 2px 0px #a6a6a6; 
}
span.infotip {
	position: absolute;
	width: 175px;
	height: 24px;
	line-height: 24px;
	padding: 0px;
	font-size: 14px;
	text-align: center;
	color: rgb(255, 255, 255);
	background: rgb(96, 172, 57);
	border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255) rgb(255, 255, 255);
	border-radius: 0px 3.1875px 3.1875px 0px;
	text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
	box-shadow: rgb(85, 153, 51) -4px 0px 4px 0px inset;
}
span.infotip:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 12px;
	border-style: solid;
	border-color: transparent #60AC39 transparent transparent;
	top: 0px;
	left: -24px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
}
.axis text {
	font-family: sans-serif;
	font-size: 10px;
}