body {
  margin-top: 60px;
  color: #666; 
  background: #d9d9d9; 
  font: normal 12px "Helvetica Neue", Helvetica, sans-serif;
}
a {
  color: #00b7ff;
}
div.left {
  float: left;
  width: 430px;
}
div.right {
  float: right;
  width: 470px;
}
#header {
  border: 5px solid #ccc;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 20px;
  background: #ccc;
}
#htitle {
  float: right;
  text-align: right;
  padding-right: 10px;
  font: normal 24px Georgia, sans-serif;
}
#map {
  position: relative;
  border: 5px solid #ccc;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 470px;
  background: #e0f3ff;
}
#timeline {
  font-size: 8px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid #ccc;
  width: 900px;
  height: 13px;
  background: #fff;
}
#timeline path {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.country {
  fill: #1e70a6;
  stroke: #fff;
  stroke-width: .1px;
  stroke-linejoin: round;
}
.nameboxes {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding-bottom: 5px;
  width: 900px;
  background-color: #fff;
  border: 5px solid #ccc;
  border-radius: 3px;
  opacity: 0.8; 
}
.nameboxes h1 {
  color: #000; 
  font-size: 16px;
  margin: 10px 0px 5px 10px;
}
.nameboxes p {
  color: #222; 
  line-height: 1.2em;
  margin: 0px 0px 0px 20px;
}
.nameboxes span {
  font-size: 8px;
  font-style: italic;
}
div.maphovertip {
  float: left;
  margin-top: 1px;
  color: #222; 
  background: #fff; 
  padding: 5px; 
  text-shadow: 0px 1px 0px #f5f5f5;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
}
div.tooltip {
  position: absolute;
  text-align: left;           
  width: 100px;                  
  height: 12px;   
  color: #000; 
  border: 0px; 
  pointer-events: none; 
}
.point {
  stroke-width: 0px;
}
#activepoint {
  fill: #FFCC33;
}
#myinput {
  font-size: 14px;
  color: #050505;
  width: 400px;
  height: 17px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
#myinput:focus {
  outline: none;
  border: 1px solid #33677F;
}


