body {
  padding-top: 40px;
  color: #666; 
  background: #B8E2FF; 
  font: normal 14px Georgia, sans-serif;
}
a { color: #00b7ff; }
h1 {
  font-size: 16px;
  margin: 2px;
}

.hidden { display: none; }

#header {
  border: 5px solid #FAF5EF;
  border-radius: 6px 6px 0px 0px;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 20px;
  background: #FAF5EF;
}
#htitle {
  float: right;
  text-align: right;
  padding-right: 10px;
  font: normal 24px Georgia, sans-serif;
}
#map {
  background: #B8E2FF;
}
#timeline {
  font-size: 8px;
  background: #fff;
}
#timeline path {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.country {
  fill: #F7F7F7;
  stroke: #C9D1D3;
  stroke-width: .3px;
  stroke-linejoin: round;
}
img.biopic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#namebox {
  margin: 5px 5px 0px 0px;
  background: #fff;
}
#namebox p {
  color: #333; 
  line-height: 1em;
}
#namebox span {
  font-size: 8px;
  font-style: italic;
}
.maphovertip {
  float: left;
  margin-top: 1px;
  color: #222; 
  background: #fff; 
  padding: 3px; 
  text-shadow: 0px 1px 0px #f5f5f5;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
}
span.infotip {
  position: absolute;
  width: 175px;
  height: 24px;
  line-height: 24px;
  padding: 0px;
  font-size: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(96, 172, 57);
  border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 0px 3.1875px 3.1875px 0px;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
  box-shadow: rgb(85, 153, 51) -4px 0px 4px 0px inset;
}
span.infotip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 12px;
  border-style: solid;
  border-color: transparent #60AC39 transparent transparent;
  top: 0px;
  left: -24px;
}
#footer {
  margin-top: 50px;
  color: #ECDDCA;
  text-align: center;
}  
#footer p {
  font-size: 9px;
}
#footer a {
  color: #ECDDCA;
  text-decoration: none;
}